extends layout

block content
  h1(class='carHeading')= title

  if (toShow == null)
    h2 No instance to Show to details 
  else
    - let carid = toShow._id
    - let car_name = toShow.car_name
    - let car_make = toShow.car_make
    - let car_cost = toShow.car_cost
    div
      div.row
        div(class='carAttr mr-3') Car ID is:
        div(class='carValue') #{carid}
      <br/>
      div.row
        div(class='carAttr mr-3') Car Name is:
        div(class='carValue') #{car_name}
      <br/>
      div.row
        div(class='carAttr mr-3') Car Make is:
        div(class='carValue') #{car_make}
      <br/>
      div.row
        div(class='carAttr mr-3') Car Cost is:
        div(class='carValue') #{car_cost}